/*  Main colors  */
:root {
    --clr1: #1B9AAA;
    --clr2: #DDDBCB;
    --clr3: oldlace;
    --dark: #050505;
    --light: white;
}

/* Header Formatting */

header{
    background-image: linear-gradient(to right, var(--clr1),var(--clr3));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 25px;
}

header h1{
    color: var(--clr3);
    font-size: larger;
}

header nav{
    display: inline;
    
}
header a{
    color: var(--clr1);
    text-decoration: underline;
    white-space: nowrap;
    margin: 0px 10px 0px 0px;
}

header a:hover {
    background-color: var(--clr1);
    padding: 3px;
    color: var(--clr3);
}



main{
    background-color: var(--clr1);
    
}

/* containers */ 

section{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 10px;
    color: var(--light);
    flex: 0 0 79%;
    
}
section h2{
    flex: 0 0 20%;
    text-align: right;
    border-right: 3px solid var(--light);
    padding-right: 10px;
    font-size: 1.5rem;
    

}

/* Hero Banner */ 
.heroBanner{
    background-image: url(../images/suleyman-coskun-a1sw1TdEP5g-unsplash.jpg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.heroBanner p {
    color: var(--light);
    text-shadow: 4px 4px 16px #050505;
    font-size: 40px;
    font-family: cursive;
    text-align: center;
}

/* Container for Work Section */
.flexContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Each project card*/

.project {
    display: flex;
    align-items: flex-end;
    border: 3px solid var(--dark);
    min-height: 200px;
    max-height: 200px;
    flex: 1 1 50%;

}

.project h3{
    background-color: var(--dark);
    padding: 15px;

}

/* First project larger */
.project:first-child{
    min-height: 350px;
    flex-basis: 100%;
}

/* Projects card background */

.hariseon {
    background-image: url(../images/Screen\ Shot\ 2022-07-18\ at\ 5.43.13\ PM.png);
    background-size: 100% 100%;
}

.calculator {
    background-image: url(../images/recha-oktaviani-h2aDKwigQeA-unsplash.jpg);
    background-size: 100% 100%;
}

.game {
    background-image: url(../images/fredrick-tendong-6ou8gWpS9ns-unsplash.jpg);
    background-size: 100% 100%;
}



#aboutMe p{
    margin-left: 25px;
}

/* Contact Me section */


#contactMe{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}


#contactMe address{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#contactMe address a{
    padding: 10px;
    
}

/* Adjust Header Section when you shrink page */ 

@media screen and (max-width: 941px) {
    header {
      justify-content: center;
      text-align: center;
      padding: 0;
    }
  
    header h1 {
      width: 100%;
      padding: 10px;
      background-color: var(--clr1);
    }
  
    header nav {
      justify-content: center;
      background-color: var(--clr3);
      width: 100%;
      padding: 10px;
    }

    header a{
        margin-bottom: 10px;
    }
}
