:root {
    --clr1: #1B9AAA;
    --clr2: #DDDBCB;
    --clr3: oldlace;
    --dark: #050505;
    --light: white;
}

header{
    background-image: linear-gradient(to right, var(--clr1),var(--clr3));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 25px;
}

header h1{
    color: var(--clr3);
    font-size: larger;
}

header nav{
    display: inline;
    
}
header a{
    color: var(--clr1);
    text-decoration: underline;
    white-space: nowrap;
    margin: 0px 10px 0px 0px;
}

header a:hover {
    background-color: var(--clr1);
    padding: 3px;
    color: var(--clr3);
}

main{
    background-color: var(--clr1);
    
}

main section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    justify-content: space-between;
    padding: 10px;
    color: var(--light);
    
}


.heroBanner{
    background-image: url(../images/suleyman-coskun-a1sw1TdEP5g-unsplash.jpg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.heroBanner p {
    color: var(--light);
    text-shadow: 4px 4px 16px #050505;
    font-size: 40px;
    font-family: cursive;
    text-align: center;
}




section h2{
    flex: 0 0 20%;
    text-align: right;
    border-right: 3px solid var(--light);
    padding-right: 10px;
    font-size: 1.5rem;
    

}

#aboutMe p{
    margin-left: 25px;
}


#contactMe address{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

address a{
    
    
}



@media screen and (max-width: 941px) {
    header {
      justify-content: center;
      text-align: center;
      padding: 0;
    }
  
    header h1 {
      width: 100%;
      padding: 10px;
      background-color: var(--clr1);
    }
  
    header nav {
      justify-content: center;
      background-color: var(--clr3);
      width: 100%;
      padding: 10px;
    }

    header a{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 941px) {

}