:root {
    --clr1: #1B9AAA;
    --clr2: #DDDBCB;
    --clr3: oldlace;
    --dark: #050505;
    --light: white;
}



.heroBanner{
    background-image: url(../images/sean-oulashin-KMn4VEeEPR8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.heroBanner p {
    color: var(--light);
    text-shadow: 4px 4px 16px #050505;
    display: inline;
    font-size: 40px;
    font-family: cursive;
    text-align: center;
}


